{% extends 'base.html' %}
{% block content %}
{% for message in theme.messages.all %}
    <div class="card">
    <h5 class="card-header message-header">{{message.created_at}}</h5>
    <div class="card-body">
        <table>
            <tr>
                <td align="center">
                    <img src="{{message.user.profile.avatar.url}}" class="rounded-circle" style="width:100px;"/>
                    <br>
                    {{message.user}}
                </td>
                <td>
                     {% autoescape off %}
                    <p class="card-text">{{message.text}}</p>
                    {% endautoescape %}
                    <br>
                </td>
            </tr>
        </table>
  </div>
    </div>
{% endfor %}
<br>
    {% if user.is_authenticated %}
   <form method="post" action={% url "theme" theme.id %}>
    {% csrf_token %}
     {{form.as_p}}
  <input type="submit" value="safe"/>
</form>
{% endif %}
{% endblock %}